.tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}

.tabs__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
}

.tabs__button:hover {
  color: var(--first-color);
}

.tabs__button--active {
  @extend .tabs__button;
  color: var(--first-color);
}

.tabs__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
}

.tabs__content {
  display: none;
}

.tabs__content--active {
  display: block;
}

@media screen and (max-width: 450px) {
  .tabs {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 568px) {
  .tabs__sections {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .tabs {
    justify-content: center;
  }

  .tabs__button {
    margin: 0 var(--mb-1);
  }

  .tabs__sections {
    grid-template-columns: 0.5fr;
  }
}
