.card__content {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem 1rem 1.25rem 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.card__title {
  font-size: var(--h3-font-size);

  font-weight: var(--font-medium);
}

.card__subtitle {
  display: inline-block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-1);
}

.card__calendar {
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
